# Supabase
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# AI Api Keys
GROQ_API_KEY=your-groq-key
GEMINI_API_KEY=your-gemini-key
MISTRAL_API_KEY=your-mistral-key
OPENAI_API_KEY=your-openai-key
ANTHROPIC_API_KEY=your-anthropic-key

# Backend API
NEXT_PUBLIC_API_URL=http://localhost:8080
